/* ----------------------------------------------------- */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* ----------------------------------------------------- */
/* Global Styles */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434; /* dark gray - almost black */
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;  
    font-size: 15px;
    line-height: 1.5;
}

a {
    text-decoration: none;   
}

h1 {
    font-size: 60px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Merriweather', sans-serif; 
    font-weight: 600;
}

.content-wrap {
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
    padding: 15px 0;
}

/* ----------------------------- */
/* Payslip Table */

.invoice-list-details {
    border: 1px solid black;
    list-style-type: none;
    text-align: center;
    margin: 15px;
}

/* ----------------------------- */
/* PayslipTable */
/* #outer-table {

} */

.employee-details {
    border: solid 1px black;
    padding: 5px;
    margin: 15px;
}

th, td {
    border: solid 1px black;
    padding: 5px;
    border-spacing: 15px;
}

/* ----------------------------- */
/* UserForm */

